@use '00_mixins' as *;

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  @include flex;
  @include justify-content(space-between);
  @include align-items(center);
  padding-top: get-rem-desktop(37);
  padding-bottom: get-rem-desktop(37);
  text-transform: uppercase;
  will-change: transform;
  @include transition(transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1));

  @media only screen and (max-width: 768px) {
    position: relative;
    will-change: auto;
    padding-top: get-rem-mobile(24);
    padding-bottom: get-rem-mobile(24);
  }

  &.is-hidden-on-scroll {
    @include transform(translateY(-100%));

    @media only screen and (max-width: 768px) {
      transform: none;
    }
  }

  .logo-wrap {
    svg {
      width: get-rem-desktop(157);
      height: auto;
      fill: $colour-white;
    }
  }

  .header-nav {
    @include flex;
    @include align-items(center);
    column-gap: get-rem-desktop(50);
  }

  .language-switcher {
    @include flex;
    @include align-items(center);
    column-gap: get-rem-desktop(30);

    .menu-link {
      position: relative;
      cursor: pointer;
      opacity: 0.5;
      will-change: opacity;
      @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
  
      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
  
      &.is-active {
        opacity: 1;
      }

      &:first-of-type::after {
        content: '';
        position: absolute;
        right: -(get-rem-desktop(15));
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: get-rem-desktop(11);
        background-color: $colour-white;
      }
    }
  }
}

body.page-home .site-header {
  @media only screen and (max-width: 768px) {
    position: absolute;
  }
}

body.bg-birch,
body.bg-sage,
body.bg-chalk,
body.bg-white,
body.page-404 {
  .site-header {
    color: $colour-black;

    a {
      color: $colour-black;
    }

    .logo-wrap svg {
      fill: $colour-black;
    }

    .language-switcher .language-switcher-btn {
      color: $colour-black;
    }

    .language-switcher .menu-link:first-of-type::after {
      background-color: $colour-black;
    }
  }
}