@use '00_mixins' as *;

.out-of-opacity {
  opacity: 0;
  will-change: opacity;
  @include transition(opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) 400ms);

  &.in-opacity {
    opacity: 1;
  }

  @for $i from 1 through 10 {
    &.stage-#{$i} {
      @include transition(opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) #{400 + ($i - 1) * 200}ms);
    }
  }
}

.out-of-view {
  opacity: 0;
  @include transform(translateY(10vh));
  will-change: opacity, transform;
  @include transition-transform-additional(1500ms cubic-bezier(0.19, 1, 0.22, 1) 400ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 400ms);

  &.am-in-view {
    opacity: 1;
    @include transform(translateY(0));
  }

  @for $i from 1 through 10 {
    &.stage-#{$i} {
      @include transition-transform-additional(
        1500ms cubic-bezier(0.19, 1, 0.22, 1) #{400 + ($i - 1) * 200}ms,
        opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) #{400 + ($i - 1) * 200}ms
      );
    }
  }
}