@use '00_mixins' as *;

.out-of-opacity {
  opacity: 0;
  will-change: opacity;
  @include transition(opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) 400ms);
	
	&.in-opacity {
		opacity: 1;
	}

  @media only screen and (min-width: 769px) {
    &.stage-1 {
      @include transition(opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) 400ms);
    }
    
    &.stage-2 {
      @include transition(opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) 600ms);
    }
    
    &.stage-3 {
      @include transition(opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) 800ms);
    }
  }
}

.out-of-view {
  opacity: 0;
	@include transform(translateY(10vh));
  will-change: opacity, transform;
	@include transition-transform-additional(1500ms cubic-bezier(0.19, 1, 0.22, 1) 400ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 400ms);
	
	&.am-in-view {
		opacity: 1;
		@include transform(translateY(0));
	}

  @media only screen and (min-width: 769px) {
    &.stage-1 {
      @include transition-transform-additional(1500ms cubic-bezier(0.19, 1, 0.22, 1) 400ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 400ms);
    }

    &.stage-2 {
      @include transition-transform-additional(1500ms cubic-bezier(0.19, 1, 0.22, 1) 600ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 600ms);
    }

    &.stage-3 {
      @include transition-transform-additional(1500ms cubic-bezier(0.19, 1, 0.22, 1) 800ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 800ms);
    }

    &.stage-4 {
      @include transition-transform-additional(1500ms cubic-bezier(0.19, 1, 0.22, 1) 1500ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 1500ms);
    }

    &.stage-5 {
      @include transition-transform-additional(1500ms cubic-bezier(0.19, 1, 0.22, 1) 1500ms, opacity 1500ms cubic-bezier(0.19, 1, 0.22, 1) 1500ms);
    }
  }
}