@use '00_mixins' as *;

body.page-404 {
  @include flex;
  @include flex-direction(column);
}

.not-found-page {
  flex: 1 0 auto;
  @include flex;
  @include align-items(center);
  @include justify-content(center);
  min-height: calc(100svh - get-rem-desktop(247));

  @media only screen and (max-width: 1409px) {
    min-height: calc(100svh - get-rem-desktop(261));
  }

  @media only screen and (max-width: 768px) {
    min-height: calc(100svh - get-rem-mobile(428));
  }

  .inner-wrap {
    padding-top: get-rem-desktop(160);
    padding-bottom: get-rem-desktop(200);
    text-align: center;
    @include flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    row-gap: get-rem-desktop(55);

    @media only screen and (max-width: 768px) {
      padding-top: get-rem-mobile(100);
      padding-bottom: get-rem-mobile(100);
    }
  }
}