@use '00_mixins' as *;

@font-face {
  font-family: 'Cigars';
  src: url('../app/fonts/HW Cigars Trial Slim.woff') format('woff'),
       url('../app/fonts/HW Cigars Trial Slim.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
  font-weight: normal;
}

h1 {
  font-family: 'Cigars';
  font-weight: 200;
  @include font-size(56px, 130px);
  line-height: calc(117 / 130) + em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media only screen and (max-width: 820px) {
    line-height: calc(50 / 56) + em;
  }

  &.bigger {
    @include font-size(56px, 160px);
    line-height: calc(144 / 160) + em;
  }
}

h2 {
  font-family: 'Cigars';
  font-weight: 200;
  @include font-size(30px, 40px);
  line-height: calc(44 / 40) + em;
  letter-spacing: 0.03em;

  @media only screen and (max-width: 820px) {
    line-height: calc(33 / 30) + em;
  }
}

h3 {
  font-family: 'Cigars';
  font-weight: 200;
  @include font-size(22px, 22px);
  line-height: calc(24.2 / 22) + em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu-overlay-nav .menu-item {
  font-family: 'Cigars';
  font-weight: 200;
  @include font-size(44px, 44px);
  line-height: calc(40 / 44) + em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.site-footer {
  font-family: "hanken-grotesk", sans-serif;
  font-weight: 400;
  @include font-size(14px, 14px);
  line-height: normal;
  letter-spacing: 0.01em;
  font-feature-settings: 'ss01' on;
  text-transform: uppercase;

  h2 {
    @include font-size(30px, 30px);
    line-height: calc(27 / 30) + em;
    letter-spacing: 0.03em;
  }
}

.cta-link.script-font {
  font-family: 'Cigars';
  font-weight: 200;
  @include font-size(16px, 18px);
  line-height: calc(22.5 / 18) + em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  svg {
    margin-bottom: 0.15em
  }
}

.text-m {
  @include font-size(16px, 16px);
  line-height: calc(20 / 16) + em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-s {
  @include font-size(14px, 14px);
  line-height: calc(15.4 / 14) + em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-xs {
  @include font-size(9px, 9px);
  line-height: calc(9.9 / 9) + em;
  letter-spacing: 0.009em;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: get-rem-desktop(16);

  &:last-of-type {
    margin-bottom: 0;
  }
}

ul {
  list-style: square;
  padding-left: 1.5em;
}