@use '00_mixins' as *;

@font-face {
  font-family: 'Cigars';
  src: url('../app/fonts/HW Cigars Trial Slim.woff') format('woff'),
       url('../app/fonts/HW Cigars Trial Slim.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
  font-weight: normal;
}

h1 {
  font-family: 'Cigars';
  font-weight: 200;
  @include font-size(56px, 130px);
  line-height: calc(117 / 130) + em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media only screen and (max-width: 820px) {
    line-height: calc(50 / 56) + em;
  }

  &.bigger {
    @include font-size(56px, 160px);
    line-height: calc(144 / 160) + em;
  }
}

h2 {
  font-family: 'Cigars';
  font-weight: 200;
  @include font-size(30px, 40px);
  line-height: calc(44 / 40) + em;
  letter-spacing: 0.03em;

  @media only screen and (max-width: 820px) {
    line-height: calc(33 / 30) + em;
  }
}

.menu-overlay-nav .menu-item {
  font-family: 'Cigars';
  font-weight: 200;
  @include font-size(44px, 44px);
  line-height: calc(40 / 44) + em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.site-footer {
  font-family: "hanken-grotesk", sans-serif;
  font-weight: 400;
  @include font-size(14px, 14px);
  line-height: normal;
  letter-spacing: 0.01em;
  font-feature-settings: 'ss01' on;
  text-transform: uppercase;

  h2 {
    @include font-size(36px, 40px);
    line-height: calc(36 / 40) + em;
    letter-spacing: 0.03em;
  
    @media only screen and (max-width: 820px) {
      line-height: calc(32 / 36) + em;
    }
  }
}

p {
  margin-top: 0;
  margin-bottom: get-rem-desktop(16);

  &:last-of-type {
    margin-bottom: 0;
  }
}

ul {
  list-style: square;
  padding-left: 1.5em;
}