@use '00_mixins' as *;

// UTILITY CLASSES ------------------

.h-pad {
  padding-left: get-rem-desktop(40);
  padding-right: get-rem-desktop(40);

  @media only screen and (max-width: 820px) {
    padding-left: get-rem-mobile(24);
    padding-right: get-rem-mobile(24);
  }
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.logo-wrap {
  position: relative;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.cta-link {
  text-transform: uppercase;
  @include flex;
  @include align-items(center);
  column-gap: get-rem-desktop(8);
  margin-top: get-rem-desktop(18);
  width: fit-content;

  @media only screen and (max-width: 768px) {
    margin-top: get-rem-mobile(24);
  }

  @media (hover: hover) {
    &:hover {
      opacity: 1;

      svg {
        @include transform(translateX(8px));
      }
    }
  }

  svg {
    stroke: $colour-white;
    width: get-rem-desktop(20);
    height: auto;
    will-change: transform;
    @include transition(transform 400ms cubic-bezier(0.25,0.1,0.25,1));
  }
}

body.bg-birch,
body.bg-sage,
body.bg-chalk,
body.bg-white {
  .cta-link svg {
    stroke: $colour-black;
  }
}

.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;

  .splide-carousel,
  .splide__track,
  .splide__slide {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-left,
  .carousel-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media only screen and (min-width: 1025px) {
      height: 100%;
      width: 50%;
    }

    svg {
      stroke: $colour-white;
      width: get-rem-desktop(24);
      height: auto;
      will-change: transform;
      @include transition(transform 400ms cubic-bezier(0.25,0.1,0.25,1));

      @media only screen and (min-width: 1025px) {
        display: none;
      }

      @media (hover: hover) {
        &:hover {
          @include transform(translateX(8px));
        }
      }
    }
  }
  
  .carousel-left {
    left: 0;

    @media only screen and (max-width: 768px) {
      left: get-rem-mobile(24);
    }

    svg {
      @include transform(rotate(180deg));

      @media (hover: hover) {
        &:hover {
          @include transform(translateX(-8px) rotate(180deg));
        }
      }
    }
  }

  .carousel-right {
    right: 0;

    @media only screen and (max-width: 768px) {
      right: get-rem-mobile(24);
    }
  }
}

.mobile {
  display: none;
}

@media only screen and (max-width: 820px) {
  .desktop,
  .dummy-col {
    display: none;
  }

  .mobile {
    display: block;
  }
}

// HERO TEXT SECTION ------------------

.hero-text-section {
  .heading {
    max-width: get-rem-desktop(1380);
  }

  .text-wrap {
    margin-top: get-rem-desktop(50);

    @media only screen and (max-width: 768px) {
      margin-top: get-rem-mobile(110);
    }

    .text {
      max-width: get-rem-desktop(535);
    }
  }
}

// FULL WIDTH MEDIA SECTION ------------------

.full-width-media-section,
.image-carousel-section {
  height: 100svh;
  position: relative;

  @media only screen and (max-width: 768px) {
    height: get-rem-mobile(520);
  }
}

.full-width-media-section {
  @media only screen and (max-width: 768px) {
    &:first-child {
      height: 100svh;
    }
  }

  .carousel-left,
  .carousel-right {
    display: none;
  }
}

// IMAGE CAROUSEL SECTION ------------------
.image-carousel-section {
  .splide__pagination {
    margin-bottom: get-rem-desktop(20);
    bottom: 0;
    padding-left: get-rem-desktop(40);
    padding-right: get-rem-desktop(40);
    @include flex;
    gap: get-rem-desktop(8);

    @media only screen and (max-width: 820px) {
      padding-left: get-rem-mobile(24);
      padding-right: get-rem-mobile(24);
    }
  }

  .splide__pagination__page {
    opacity: 1;
    background: $colour-chalk;
    width: 12px;
    height: 12px;
    margin: 0;
    @include transition(all 400ms cubic-bezier(0.25,0.1,0.25,1));

    &.is-active {
      transform: none;
      background: $colour-terracotta;
    }
  }
}

// LANDSCAPE MEDIA SECTION ------------------

.landscape-media-section {
  .media-wrap {
    @include aspect-ratio(1095, 600);

    @media only screen and (max-width: 768px) {
      @include aspect-ratio(354, 435);
    }
  }

  .caption {
    max-width: get-rem-desktop(466);
    margin-top: get-rem-desktop(35);
  }

  &.align-right {
    .caption {
      text-align: right;
      margin-left: auto;
    }
  }
}

// LANDSCAPE MEDIA & PROJECT INFO SECTION ------------------

.landscape-media-project-info-section {
  @media only screen and (max-width: 768px) {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-mobile(38);
  }

  .media-wrap {
    @include aspect-ratio(1095, 600);

    @media only screen and (max-width: 768px) {
      @include aspect-ratio(354, 435);
    }
  }

  .project-info {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(16);

    .heading {
      margin-bottom: get-rem-desktop(5);
    }

    p {
      margin-bottom: get-rem-desktop(4);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// INTRO WITH MEDIA SECTION ------------------

.intro-with-media-section {
  @include align-items(flex-end);

  @media only screen and (max-width: 768px) {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-mobile(56);
  }

  .media-wrap {
    @include aspect-ratio(3, 4);

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

// DUAL MEDIA SECTION ------------------

.dual-media-section {
  @include align-items(flex-end);

  @media only screen and (max-width: 768px) {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-mobile(80);
    @include align-items(flex-start);
  }

  .media-wrap {
    @include aspect-ratio(3, 4);
  }

  .media-1 {
    @media only screen and (max-width: 768px) {
      width: get-rem-mobile(200);
    }
  }

  .media-2 {
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

// DOUBLE MEDIA & TEXT SECTION ------------------
.double-media-with-text-section {
  @media only screen and (max-width: 768px) {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-mobile(60);
  }

  .media-1 {
    @include flex;
    @include flex-direction(column-reverse);
    @include justify-content(flex-end);
    row-gap: get-rem-desktop(160);

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(60);
    }

    .media-wrap {
      @include aspect-ratio(3, 4);
      width: 100%;
    }
  }

  .media-2 {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(100);

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(60);
    }

    .media-wrap {
      @include aspect-ratio(3, 4);
      width: 100%;
    }
  }
}

// PROJECT CARD SECTION ------------------

.project-card-section {
  position: relative;

  .cta-link-wrap {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
  }

  .cta-link {
    margin: 0;
  }

  a:hover {
    opacity: 1;
  }

  &.cards-1 {
    height: 100svh;
    
    @media only screen and (max-width: 768px) {
      height: get-rem-mobile(520);
    }

    a {
      display: block;
      height: 100%;
      width: 100%;

      @media (hover: hover) {
        &:hover {
          opacity: 1;
          
          svg {
            @include transform(translateX(8px));
          }
        }
      }
    }

    .content-wrap {
      position: absolute;
      top: get-rem-desktop(40);
      left: 0;
      width: 100%;
      @include flex;
      @include justify-content(space-between);
      @include align-items(center);

      @media only screen and (max-width: 768px) {
        top: 0;
        height: 100%;
        @include flex;
        @include flex-direction(column);
        @include justify-content(space-between);
        @include align-items(flex-start);
        padding-top: get-rem-mobile(35);
        padding-bottom: get-rem-mobile(35);
      }
    }
  }
  
  &.cards-2,
  &.cards-3 {
    .project-card {
      position: relative;
      @include flex;
      @include flex-direction(column-reverse);
      row-gap: get-rem-desktop(20);

      @media only screen and (max-width: 768px) {
        margin-bottom: get-rem-mobile(36);

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .media-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $colour-black;
        @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
        will-change: opacity;
        opacity: 0;
      }

      @media (hover: hover) {
        &:hover {
          .media-overlay {
            opacity: 0.2;
          }
    
          svg {
            @include transform(translateX(8px));
          }
        }
      }
    }

    .cta-link-wrap {
      width: 100%;
      color: $colour-white;

      svg {
        stroke: $colour-white;
      }

      .cta-link:first-of-type {
        display: none;
      }
    }
  }

  &.cards-2 .media-wrap {
    @include aspect-ratio(790, 675);

    @media only screen and (max-width: 768px) {
      @include aspect-ratio(354, 435);
    }
  }

  &.cards-3 .media-wrap {
    @include aspect-ratio(540, 675);

    @media only screen and (max-width: 768px) {
      @include aspect-ratio(354, 435);
    }
  }
}

// LINK CARD SECTION ------------------
.link-card-section {
  position: relative;

  .header {
    margin-bottom: get-rem-desktop(40);
    text-transform: uppercase;
  }

  .cta-link-wrap {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
  }

  .cta-link {
    margin: 0;
  }

  a:hover {
    opacity: 1;
  }

  .project-card {
    position: relative;
    @include flex;
    @include flex-direction(column-reverse);
    row-gap: get-rem-desktop(20);

    @media only screen and (max-width: 768px) {
      margin-bottom: get-rem-mobile(36);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .media-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $colour-black;
      @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
      will-change: opacity;
      opacity: 0;
    }

    @media (hover: hover) {
      &:hover {
        .media-overlay {
          opacity: 0.2;
        }
  
        svg {
          @include transform(translateX(8px));
        }
      }
    }
  }

  .cta-link-wrap {
    width: 100%;
    color: $colour-white;

    svg {
      stroke: $colour-white;
    }

    .cta-link:first-of-type {
      display: none;
    }
  }

  &.cards-2 .media-wrap {
    @include aspect-ratio(790, 675);

    @media only screen and (max-width: 768px) {
      @include aspect-ratio(354, 435);
    }
  }

  &.cards-3 .media-wrap {
    @include aspect-ratio(540, 675);

    @media only screen and (max-width: 768px) {
      @include aspect-ratio(354, 435);
    }
  }
}

// QUOTE SECTION ------------------

.quote-section {
  .quote {
    max-width: get-rem-desktop(800);

    p {
      text-indent: -0.5em;
    }
  }

  .author {
    margin-top: get-rem-desktop(65);

    @media only screen and (max-width: 768px) {
      margin-top: get-rem-mobile(45);
    }
  }
}

.spacer-section {
  width: 100%;
  display: block;
  height: calc(var(--spacer-height-desktop) * get-rem-desktop(20));
  pointer-events: none;

  @media only screen and (max-width: 768px) {
    height: calc(var(--spacer-height-mobile) * get-rem-mobile(20));
  }
}

// POLICY PAGE ------------------

.policy-page {
  padding-top: get-rem-desktop(305);
  padding-bottom: get-rem-desktop(200);

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(137);
    padding-bottom: get-rem-mobile(100);
  }

  .content-wrap {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(80);

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(48);
    }

    .heading {
      margin-bottom: get-rem-desktop(20);

      @media only screen and (max-width: 768px) {
        margin-bottom: get-rem-mobile(15);
      }
    }

    .copy {
      max-width: get-rem-desktop(500);
    }
  }
}

// SHARED TEXT STYLES ------------------

.intro-with-media-section,
.double-media-with-text-section {
  .text-wrap {
    max-width: get-rem-desktop(540);

    .heading {
      margin-bottom: get-rem-desktop(30);
    }
  }
}